@import url('https://fonts.googleapis.com/css?family=Coiny');

body{
    margin:0;
    padding: 0;
    background-color: #fff;
    font-family: 'Coiny', cursive;
}

#data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100vh;
}

.game{
    background-color: azure;
    color: aquamarine;
}

nav{
    width: 100vh;
    height: 10vh;
    background-color: black;
}

h3{
    color: #fff;
}